/*overlay*/
.overlay_menu {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.8);
	overflow:auto;
    z-index:99;
    padding-top: 120px;

    .btn{
        @extend .margin-0;
        position: absolute;
        right: 10px;
        top: 10px;        
    }
    
    .links{        
        h6{
            @extend .m-t-20;
        }
        ul{
            li{
                a{
                    @extend .displayblock;
                    padding: 6px 0px 6px 20px;                    
                    position: relative;

                    &:hover{
                        &::before{
                            left:5px;
                        }
                    }
                    &:before{
                        @include transition(all .3s ease-in-out);
                        @extend .font-12;
                        color: $grey-500;
                        content: '\f30f';
                        position: absolute;
                        left: 0px;
                        font-family: 'Material-Design-Iconic-Font';                        
                        top: 8px;
                    }
                }
            }    
        }  
    }
    .social{        
        @extend .font-25;
        @extend .align-center;
        padding:20px;

        p {
            @extend .margin-0;
            @extend .font-13;
            color: $grey-100;
            padding: 20px 0 5px 0;
            line-height: 30px;            
            a {                
                @extend .margin-0;
                @extend .padding-0;
                text-decoration:none;
            }
        }
        .icon {
            @extend .inlineblock;
            @extend .align-center;
            border-radius: $border-radius-large;
            background: $grey-300;
            color: $grey-800;            
            margin: 0 20px;
            width: 50px;
            height: 50px;            
            transition-property:all .2s linear 0s;
            -moz-transition:all .2s linear 0s;
            -webkit-transition:all .2s linear 0s;
            -o-transition:all .2s linear 0s;    
            
            &:hover {
                background:#f96332;
                color:$grey-100;
            }
        
            i {
                vertical-align: text-bottom;
            }
        }
    }
}