
.sprice{    
    h4{
        @extend .m-t-0;
    }
    .sprice-circle{
        @include transition(all .4s ease-in-out);
        @include inline-block;
        @include border-radius(80px);
        @extend .font-50;
        height:140px;
        width: 140px;        
        border: 1px solid;
        padding: 35px 30px 5px 30px;

        span{
            @extend .font-28;
            vertical-align: top;
            position: relative;
            top: 10px;
        }
    }
    li{
        @extend .displayblock;
        @extend .p-t-10;
        @extend .p-b-10;
        border-bottom: 1px solid $grey-700;
        color: $grey-300;
    }
}

.sprice2{
    @include box-shadow(none);
    background: transparent;

    h4{
        @extend .m-t-0;
    }
    .data{
        @extend .m-r-25;
        border-radius: $border-radius-small;
        background: $white;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 10px;
        width: calc(100% - 25px);
        box-shadow: 0 22px 43px rgba(0, 0, 0, 0.15);        
        z-index: 2;        
        
        i{
            @extend .font-27;           
        }

        li{
            @extend .displayblock;
            @extend .p-t-10;
            @extend .p-b-10;
            border-bottom: 1px solid $grey-200;
        }
    }
    .name{        
        @extend .p-l-30;
        @extend .p-b-10;
        @extend .p-r-30;
        @extend .m-l-30;
        @extend .m-t-30;
        border-radius: $border-radius-small; 
        padding-top: 385px;
        position: relative;
        z-index: 1;
        
        h5{
            @extend .font-18;
            @extend .margin-0;
            color: $white;
        }
    }
}